<% if (loggedin) {%>
    <%-include("partials/secondaryHeader") %> <%} else {%> <%-include("partials/header") %> <%} %>
  
  <%- include("partials/goToTop") %>  
<%  if (bookings) { %>
    <div class="row" style="margin-top: 25px;">
        <div class="mx-auto">
            <ul class="list-group">
                <% bookings.forEach(function(booking){ %>
                <li class="list-group-item">
                <span class="badge"><%= booking.qty%></span>
                <strong><%= booking.item.filmTitle%></strong>
                <span class="label label-success">€ <%= booking.price%></span>
                <div class="btn-group">
                    <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/reduce/<%= booking.item._id%>"> Einen Sitz entfernen</a></li>
                        <li><a href="/reduce/<%= booking.item._id%>"> Entferne Buchung</a></li>
                    </ul>
                </div>
                </li>
                    <% } ); %>
            </ul>
            </br>

        </div>
    </div>

    <div class="row">
        <div class="mx-auto">
            <strong>Total: € <%=totalPrice%> </strong>
        </div>
    </div>

    <hr>

    <div class="row" style="float: right; margin-right: 2.5%;">
        <form method="POST" action="/payment">
            <input type="submit" value="Mit PayPal Bezahlen" name="bsubmit" class="checkout"
                   style="color:black"><!-- ohne Produkte im Warenkorb kein Einkauf -->
        </form>
    </div>


<%}else {%>

    <div class="row">
        <div class="mx-auto">
            <h2>Keine Filme gewählt</h2>
        </div>
    </div>

<%};%>

<%-include("partials/footer") %>