
<%-include("partials/header") %>
<%  if (bookings) { %>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                <li class="list-group-item">
                <% bookings.forEach(function(booking){ %>
                <span class="badge"><%= booking.qty%></span>
                <strong><%= booking.item.filmTitle%></strong>
                <span class="label label-success">€ <%= booking.price%></span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"> Reduce by 1</a></li>
                        <li><a href="#"> Remove All</a></li>
                    </ul>
                </div>
                </li>
            </ul>
            <% } ); %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset.3 col-sm-offset">
            <strong>Total: € <%=totalPrice%> </strong>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset.3 col-sm-offset">
            <button type="button" class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" >Checkout</button>
        </div>
    </div>


<%}else {%>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset.3 col-sm-offset">
            <h2>No Items in Cart</h2>
        </div>
    </div>

<%};%>

<%-include("partials/footer") %>




