<%- include("partials/goToTop") %>
<%- include('partials/inits')%>

<html lang="en">

 

<head>
    
  <title>Bezahlung</title>

</head>

<div class="container-fluid">
    <div id="header" class="row" style="background-color: #4b4b4b;">
        <div style="display: table;">
            <div class="col-md-6 col-lg-6" style="display: table-cell; padding-right: 10%;">
                <h3 style="color:cornsilk">CineWorld|Tickets</h3>
            </div>
            <div class="col-md-4 col-lg-4" style="display: table-cell; padding-right: 10cm;">
                <p style="color:cornsilk">CineWorld Mannheim<br>
                 Title:     <%=title %>    <br> <!--Von Backend-->
                 Saal:      <%=session.saal%>     <br> <!--Von Backend-->
                 Spielzeit:      </p> <!--Von Backend-->
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2" style="display: table-cell; margin-right: 10%">
                <span style="color:cornsilk" >verbliebene Zeit:</span><br>
                <span style="color:cornsilk" id = time>05:00</span> <!--Von Backend-->

                <script>

                    function counter() {
                        var fiveMinutes = 60 * 5, 
                            display = document.querySelector('#time');
                        startTimer(fiveMinutes, display);
                    };

                    function startTimer(duration, display) {
                        var timer = duration, minutes, seconds;
                        setInterval(function () {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            display.textContent = minutes + ":" + seconds;

                            if (timer == 59) {
                                var span = document.getElementById("time");
                                span.style.color = "red";
                            }

                            if (--timer < 0) {
                                alert("Please select new seats"); //tauschen
                                timer = duration;
                            }
                        }, 1000);
                    }
                </script>

            </div>
        </div>
        <br style="clear: both;">
    </div>
</div>

<aside>
    <div id="wrapper">    
        <div id="yourdiv"><h1>Bezahlung</h1></div>
    </div>
</aside>

<div class="colorlib-shop">
    <div class="container">


        <div class="row row-pb-md">
            <div class="col-md-11 col-md-offset-1">
                


                <!--<div class="col-md-7">-->
                        <div class="cart-detail" style="width: 100%; text-align: left!important;" >

                            <h2>Gewählte Plätze</h2>
                                <ul id = "Test">

                                    <script> //Preise ändern
                                        test = <%=reserved%> //[{s: 5, r: 6, adult: true, price: 10}, {s: 8, r: 11, adult: false, price: 12}]; //Vom Backend
                                        price = [{loge: 12, packet: 10}, {loge: 10, packet: 8}]; //vom Backend
                                        maxRow = 20; //vom Backend
                                        var wrapper = document.getElementById("Test");

                                        var myHTML = '';
                                        var total = 0;
                                        

                                        test.forEach(function(item, index) {
                                        if (maxRow/2 > (test[index].r+1) && test[index].adult == true){
                                            myHTML += "<li><span> Sitz: "+(test[index].s+1)+ " Reihe: " +(test[index].r+1) +" Paket Erwachsen</span>  <!-- Reihe Sitzplatz Loge/Paket  --><span>15€</span>  <!-- preis pro Posten --></li>";
                                        }else if (maxRow/2 > (test[index].r+1) && test[index].adult == false){
                                            myHTML += "<li><span> Sitz: "+(test[index].s+1)+ " Reihe: " +(test[index].r+1) +" Paket Kind</span>  <!-- Reihe Sitzplatz Loge/Paket  --><span>10€</span>  <!-- preis pro Posten --></li>";
                                        }else if (maxRow/2 <= (test[index].r+1) && test[index].adult == false){
                                            myHTML += "<li><span> Sitz: "+(test[index].s+1)+ " Reihe: " +(test[index].r+1) +" Loge Kind</span>  <!-- Reihe Sitzplatz Loge/Paket  --><span>10€</span>  <!-- preis pro Posten --></li>";
                                        }else if(maxRow/2 <= (test[index].r+1) && test[index].adult == true) {myHTML += "<li><span> Sitz: "+(test[index].s+1)+ " Reihe: " +(test[index].r+1) +" Loge Erwachsen</span>  <!-- Reihe Sitzplatz Loge/Paket  --><span>15€</span>  <!-- preis pro Posten --></li>";
                                        }
                                        total += test[index].price;
                                    })

                                        myHTML += "<li><span><b>Gesamtpreis:<b></span> <span> "+total+" €</span></li>";
                                        wrapper.innerHTML = myHTML;
                                    
                                    </script>
                                </ul>
                        </div>

						<div class="row" style="float: right; margin-right: 2.5%;">
							<form method="POST" action="/payment">
								<input  type="submit" value="Mit PayPal Bezahlen" name="bsubmit" class ="checkout" style="color:black"><!-- ohne Produkte im Warenkorb kein Einkauf -->
							</form>
                        </div>
                    </div>
                </div>
            </div>
</div>
<%- include("partials/footer") %> 

