<% if (loggedin) {%>
    <%-include("partials/secondaryHeader") %> <%} else {%> <%-include("partials/header") %> <%} %>
  
  <%- include("partials/goToTop") %> 

<html>

<head>

    
    <title><%=title%></title>

</head>

<body>
<div class="colorlib-shop">
    <div class="container" max>
        <div class="row row-pb-lg">
            <div class="col-md-10 col-md-offset-1">
                <div class="product-detail-wrap">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-entry">
                                <img class="img-gallery-movie" src="/images/<%=foto%>.jpg" alt="image 1">
                                </img>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="desc" style="margin-top: 10%; text-align: left; font-size: 15px;">
                                <h3><%=title%></h3>
                                <p><%=genre%></p>
                                <p><b>FSK <%=fsk%> // Filmstart: <%=start%> // Laufzeit: <%=laenge%> Min. // Spielwoche <%=spielwoche%></b></p>
                                <p><b>Cast&Crew:</b><br><%=crew%></p>

                                <b>Filmhandlung:</b><br>
                                <p><i><%=short%></i><br />
                                    <%=long%></p>

                                <div class="desc">

                                    <div class="row row-pb-sm">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="background-image: url(/images/bg.png); margin-top: 2%;">

    <span style="font-size: 25px; color: cornsilk;"><b>Tickets jetzt buchen</b></span>
    <table style="width:100%" id = "test">

        <script>
            var wrapper = document.getElementById("test");

            var myHTML = '<tr><th><span style=color:cornsilk><%=heute%></span></th><th><span style=color:cornsilk><%=morgen%></span></th><th><span style=color:cornsilk><%=uebermorgen%></span></th></tr>';

            for (var i = 0; i < 4; i++) {
                myHTML+='<tr>';
                for (var j = 0; j < 3; j++) {
                    myHTML += '<td><a href=/booking><span id=roundcorners style=font-size:25px>15:00</span></td></a>';
                }
                myHTML+='</tr>';
            }

            wrapper.innerHTML = myHTML;

        </script>
    </table>
</section>
</body>
</html>
<%- include("partials/footer") %>
